
<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-3 col-footer footer-1">
                    <img src="~/Asset/images/logo.png" />
                    <p>Game mua bán sản phẩm chỉ đơn giản là mua bán của sản phẩm và "Ehh, what is this? My dick is too small that it can't even tear the hymen. Heyyy! Is that it?"</p>
                </div>
                <div class="col-md-3 col-footer footer-2">
                    <div class="heading"><h4>Dịch vụ khách hàng</h4></div>
                    <ul>
                        <li><a href="#">Về chúng tôi</a></li>
                        <li><a href="#">Thông tin giao hàng</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản và điều kiện</a></li>
                        <li><a href="#">Liên hệ chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-3">
                    <div class="heading"><h4>Tài khoản của tôi</h4></div>
                    <ul>
                        <li><a href="#">Tài khoản của tôi</a></li>
                        <li><a href="#">Nhãn hiệu</a></li>
                        <li><a href="#">Phiếu quà tặng</a></li>
                        <li><a href="#">Đặc biệt</a></li>
                        <li><a href="#">Nơi Bán</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-footer footer-4">
                    <div class="heading"><h4>Liên hệ chúng tôi</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span>Tp HCM, Việt Nam 300*0*0</li>
                        <li><span class="glyphicon glyphicon-earphone"></span>0928528369</li>
                        <li><span class="glyphicon glyphicon-envelope"></span>tomviet741@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Cửa hàng của tui web  game siêu pro - <a href="#" rel="nofollow" target="_blank">Web Game VTP</a> Designed by <a href="https://www.facebook.com/profile.php?id=100012215656760" rel="nofollow" target="_blank">VietSenpai</a>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>